
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display: flex;
flex-direction: column;
gap: 2em;
align-items: center;
/*padding-right: 50px; */
}

.media-card {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.media-card-content p {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery section {
    flex: 1 1 460px;

}

hr{
margin-top: 50px;
}

@media screen and (min-width: 700px) {
    .main-nav {
        flex-direction: row;
        justify-content: end;
    }
    .media-card {
        flex-direction: row;

    }
    .media-card-content p {
        display: block;
    }
}
              